/* =====***** common css starts *****===== */
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin-bottom: 0 !important; }

a {
  text-decoration: none !important; }

img {
  vertical-align: centert;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* =====***** common css ends *****===== */
/* =====***** navbar css starts *****===== */
#preloader-bg {
  width: 100%;
  height: 100vh;
  background: black;
  position: fixed;
  z-index: 999999999999999999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #preloader-bg img {
    width: 90%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto; }

.navbar {
  border-bottom: 1px solid #fec600;
  padding: 0 !important;
  position: absolute !important;
  top: 20px;
  width: 100%;
  z-index: 999999999;
  position: relative; }
  .navbar .navbar-nav .nav-item .nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    margin: 0 10px;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s; }
    .navbar .navbar-nav .nav-item .nav-link:hover {
      color: #fec600; }
    .navbar .navbar-nav .nav-item .nav-link.active {
      color: #fec600;
      position: relative;
      border-bottom: 2px solid #fec600; }

/* =====***** navbar css ends *****===== */
/* =====***** banner css starts *****===== */
#banner-bg {
  position: relative; }
  #banner-bg .prevarrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    left: 100px;
    color: white;
    font-size: 18px;
    z-index: 99999999;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s; }
    #banner-bg .prevarrow:hover {
      color: #fec600; }
      #banner-bg .prevarrow:hover::after {
        border-color: #fec600; }
    #banner-bg .prevarrow::after {
      content: '';
      width: 50px;
      height: 50px;
      border: 2px solid white;
      position: absolute;
      top: -16px;
      left: -17px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all linear 0.5s;
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -ms-transition: all linear 0.5s;
      -o-transition: all linear 0.5s; }
  #banner-bg .nextarrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    right: 100px;
    color: white;
    font-size: 18px;
    z-index: 99999999;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s; }
    #banner-bg .nextarrow:hover {
      color: #fec600; }
      #banner-bg .nextarrow:hover::after {
        border-color: #fec600; }
    #banner-bg .nextarrow::after {
      content: '';
      width: 50px;
      height: 50px;
      border: 2px solid white;
      position: absolute;
      top: -16px;
      left: -17px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all linear 0.5s;
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -ms-transition: all linear 0.5s;
      -o-transition: all linear 0.5s; }
  #banner-bg .item {
    position: relative;
    z-index: 1;
    padding: 245px 0 140px 0;
    -webkit-clip-path: polygon(0 0, 100% 1%, 100% 87%, 0% 100%);
            clip-path: polygon(0 0, 100% 1%, 100% 87%, 0% 100%); }
    #banner-bg .item::after {
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1; }
  #banner-bg .item-1 {
    background: url(../image/banner-img.png) center/cover no-repeat; }
  #banner-bg .item-2 {
    background: url(../image/banner-2.png) center/cover no-repeat; }
  #banner-bg .item-3 {
    background: url(../image/banner-3.png) center/cover no-repeat; }
  #banner-bg .banner-text {
    text-align: center; }
    #banner-bg .banner-text h4 {
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 35px;
      text-transform: capitalize;
      font-size: 36px;
      color: #ffffff;
      margin-bottom: 0; }
    #banner-bg .banner-text h2 {
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 35px;
      text-transform: capitalize;
      font-size: 55px;
      color: #fec600; }
    #banner-bg .banner-text p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 14px;
      padding: 0 35px; }
    #banner-bg .banner-text a {
      display: inline-block;
      padding: 20px 35px;
      border: 1px solid #fec600;
      margin: 50px 20px 0 20px;
      text-transform: capitalize;
      font-family: "Raleway", sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      transition: all linear 0.5s;
      -webkit-transition: all linear 0.5s;
      -moz-transition: all linear 0.5s;
      -ms-transition: all linear 0.5s;
      -o-transition: all linear 0.5s; }
      #banner-bg .banner-text a:hover {
        background: #fec600;
        color: #111111; }

/* =====***** banner css ends *****===== */
